/* CSS Document */

/*公用*/
.comWidth{width:1000px;margin-left:auto;margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}
.hide{display:none;}
.show{display:block;}

/*topBar*/
.topBar{height:31px;backgroud-color:#F7F7F7;line-height:31px;}  /*首先，保证元素的padding-top=padding-bottom。然后，当height=line-height时，元素有且只能有一行，行的上下边界与元素的上下边界重叠。又因为，系统默认在一行的中间写，所以，就上下对称了，就垂直居中了。等价于.topBar .leftArea{line-height:31px;}*/
.collection{background:url(../images/icon/collection.png) left center no-repeat;padding-left:19px;font-weight:bold} /*背景图片x轴在左边，y轴在中间，且不重复;font-weight设置字体为粗体*/

/*logo*/
.logoBar{height:85px;background-color:#1d7ad9;}
.logo{padding-left:39px;padding-top:12px;}

/*search*/
.search_box{width:430px;padding-top:23px;padding-left:185px;}
.search_text{width:350px;height:35px;padding:0 5px;}  /*padding是为了让输入框左右有一个偏移，不至于顶着边框写*/
.search_btn{width:70px;height:35px;font-size:14px;font-family:"微软雅黑";background-color:#ff8c00;color:#FFFFFF;}

/*购物车*/
.shopCar{width:145px;height:35px;background-color:#ff8c00;margin-top:23px;font-size:14px;font-family:"微软雅黑";background-color:#ff8c00;color:#FFFFFF;margin-right:59px;} /*此处只可以用margin-top实现，而不可以用padding-top实现相应效果，原因不详？？*/
.shopText{/*font-size:14px;font-family:"微软雅黑";background-color:#ff8c00;color:#FFFFFF;*/height:100%;width:87px;border-right:#e27a00 solid 1px;line-height:35px; background:url(../images/icon/shopItem.png) 10px center no-repeat;text-indent:40px;}  /*text-indent让文本向右缩进，前提是shopText设置了左浮动，否则该设置不起作用，原因不详？？*/
.shopNum{/*font-size:14px;font-family:"微软雅黑";background-color:#ff8c00;color:#FFFFFF;*/height:100%;width:27px;border-left:#ff9c01 solid 1px;line-height:35px;background:url(../images/icon/images/sanjiao_03.png) 33px center no-repeat;text-align:center;padding-right:29px;} /*此处backgroud的left值为33px,如果shopNum未设置右浮动，整个这些背景图片样式无效，原因不详？？*/
/*由于字体样式在shopText与shopNum中一样，为了避免重复加载，将其写入他们的父级元素，字体样式会被继承*/

/*导航*/
.navBox{height:35px;background-color:#1369c0; color:#FFFFFF;}
.shopClass{width:190px;position:relative;}
.shopClass h3{text-align:center;line-height:35px;}
.shopClass i{width:14px;height:11px;background:url(../images/icon/images/xiasanjiao_03.png) left center no-repeat;display:inline-block;margin-left:11px;}
.nav,.shopClass h3{font-family:"微软雅黑";}
.nav{line-height:35px;}
.nav li{float:left;}
.nav a{height:35px;display:inline-block;padding:0 35px;color:#FFFFFF;}
.nav .active{background-color:#4593fd;}


/*商品弹出列表*/
.shopClass_show{/* width:189px;height:68px;此处不添加宽度样式，背景依然是正确的显示宽度，因为继承了父级shoClass的样式*/background-color:#4593fd;position:absolute;width:100%;left:0;top:35px;}
.shopClass_item{padding:14px 10px;border-bottom:#3487F2 solid 1px;border-top:#5aa1fe solid 1px;}
.shopClass_item dt{height:22px;background:url(../images/icon/images/sanjiao_03.png) right center no-repeat;}
.shopClass_item .b{font-family:"微软雅黑";font-size:14px;font-weight:bold;}
.shopClass_item a{color:#FFFFFF;margin-right:9px;}
.shopClass_item a:hover{text-decoration:underline;}
.shopClass_item .aLink{display:inline-block;width:50px;height:20px;line-height:20px;text-align:center;text-decoration:underline;background:url(../images/icon/images/aLink_03.png) left center no-repeat;}

/*shopClass_item active 状态*/
.shopClass_active{background-color:#FFFFFF;border-left:1px solid #4593fd}
.shopClass_active a{color:#000000;}
.shopClass_active .aLink{color:#FFFFFF;text-decoration:none;}
.shopClass_active dt{background:none;}

/*弹出的菜单*/
.shopClass_list{width:570px;/*height:378px;将其删掉，实现自适应*/position:absolute;left:190px;top:35px;border:#ccc solid 1px;}
.shopClass_const{padding:0 20px;}
.shopList_item{padding:15px 0;border-bottom:#ccc solid 1px;}
.shopList_item dt{color:#4b87d9;font-weight:bold;height:25px;line-height:25px;}
.shopList_item dd{padding-left:68px;margin-top:-25px;line-height:25px;}
.shopList_item dd a{margin-right:12px;}
.shopList_Links{padding:15px 0;}
.shopList_Links a{color:#FFFFFF;background-color:#4593fd;display:inline-block;height:26px;line-height:26px;padding:0 14px 0 8px;margin-right:10px;/*background:url(../images/icon/images/aSanjiao_03.png) right center no-repeat;在a标签处添加背景，会遮挡住整个a标签，只显示背景图片，原因不详？？*/}
.shopList_Links span{background:url(../images/icon/images/aSanjiao_03.png) right center no-repeat;width:11px;height:7px;display:inline-block;margin-left:7px;}

/*banner部分*/
.banner {margin-bottom:15px;}
.banner_bar{/*width:810px;height:326px;*/float:right;position:relative;/*为了让图片左浮动，imgBox的父级元素用相对定位;即参照定位的元素用相对定位，定位元素用position:absolute;并指明left,top,right,bottom*/overflow:hidden;/*超过部分隐藏掉*/}
.imgBox{/*width:1620px;/一张图片810px,两张1620px/  height:326px;*/position:absoulute;/*为了让图片左浮动，父级元素用相对定位，绝对定位要指明x、y轴，即要指明left、top值*/left:0;top:0;}
.imgBox li{float:left;}
.imgBox img{/*width:810px;height:326px;*/display:block;}
.imgNum{position:absolute;left:0;bottom:14px;width:100%;text-align:center;}
.imgNum a{width:20px;height:5px;overflow:hidden;background-color:#FFFFFF;display:inline-block;/*a标签是内嵌元素，需要设置display:inline-block才可以设置宽高*/margin:1px 3px;}
.imgNum .active{background-color:#FF9900;}
.banner_big,
.banner_big img{width:810px;height:326px;}
.banner_big .imgBox{width:1620px; height:326px;}
.banner_sm,
.banner_sm img{width:190px;height:400px;}
.banner_sm .imgBox{width:380px; height:400px;}
/*商品标题*/
.shopTit{height:44px;font-family:"微软雅黑";line-height:44px;/*“把line-height设置为您需要的box的大小可以实现单行文字的垂直居中”*/margin-bottom:15px;}
.shopTit h3{font-size:24px;float:left;font-weight:normal;/*字体正常，而非加粗*/padding-left:15px;}
.icon{width:44px;height:44px;/*display:inline-block;*/background:url(../images/banner/images/shopTitle_03.jpg);float:left;/*浮动以后，span元素就支持行高了，所以display属性设置可以去掉*/}
.more{float:right;font-family:"宋体";}
.more:hover{text-decoration:underline;}

/*商品列表*/
.shopList{margin-bottom:15px;}
.shopList .leftArea{width:190px;height:400px;}
.shopList .rightArea{width:808px;height:396px;border:#999 solid 1px;border-bottom:#ff7201 solid 3px;}

/*商品列表-右侧*/
.shopList_top,
.shopList_sm{margin-right:-4px;}/*为了使得第四个列表能与前面三个一样，在同一行。因为四个列表宽度加起来打渔了rightArea的808px*/
.shop_item {width:201px;height:279px;border-right:#999 solid 1px;border-bottom:#999 solid 1px;text-align:center;font-family:"微软雅黑";float:left;}
.shop_img{width:201px;}
.shop_img img{width:100%;height:218px;display:block;}
.shop_item h3{font-size:16px;}
.shop_item p{font-size:14px;color:#FF7300;line-height:21px;}

/*商品列表-小*/
.shopItem_sm{width:201px;height:110px;padding-top:10px;border-right:#999 solid 1px;float:left;}
.shopItem_smImg{width:85px;height:90px;text-align:center;float:left;}
.shopItem_smImg img{width:100%;height:95px;}
.shopItem_text{padding-top:14px;width:115px;float:left;}
.shopItem_text p{color:#FF9900;font-size:14px;}
.shopItem_text h3{font-family:"微软雅黑";font-size:16px;font-weight:normal;color:#181818;line-height:20px;}

/*底部*/
.footer{text-align:center;background-color:#d4d4d4;height:150px;line-height:24px;/*行高*/padding:50px 0;margin-top:25px;}
.footer i{font-style:normal;margin:0 5px;}
.web{padding-top:35px;}
.web img{margin:0 12px;}
.hr_15{height:15px;}
.hr_7{height:7px;overflow:hidden;}

/*产品分类*/
.products .leftArea{width:190px;}
.products .rightArea{width:810px;}
.products .banner_bar{float:none;}
/*产品分类导航*/
.leftNav{background-color:#f3f3f3;border:1px solid #cdcdcd;}
.nav_title{font-size:14px;padding:10px 30px;/*padding此处等价于：height:34px;line-height:34px;text-align:center;*/border-bottom:1px solid #cdcdcd;}
.nav_cont{padding:0 18px 4px;/*上 左右 下*/border-bottom:#d7d7d7 1px dotted;}
.nav_cont h3{font-size:12px;/*padding-top:21px;padding-left:12px;*/height:30px;line-height:30px;}
.navCont_list{line-height:25px;}
.navCont_list li{width:50%;float:left;}


/*标题*/
.products_title{height:34px;border-bottom:#cccccc solid 2px;}
.products_title h3{width:180px;border-bottom:#096dba solid 2px;height:34px;line-height:34px;text-indent:9px;}
/*商品*/
.item{width:25%;float:left;margin-top:20px;margin-bottom:10px;}
.img_item{height:115px;text-align:center;}
.item p{line-height:20px;text-indent:10px;}
.item a{color:#000000;}
.item a:hover{text-decoration:underline;}
.money{color:#d4105a;font-weight:bold;padding-top:5px;}
.star{width:15px;height:12px;overflow:hidden;background:url(../images/banner/images/images/star_03.png) left top no-repeat;display:inline-block;}

